//Fuentes Desktop//

$normal-font: "IBM Plex Mono", monospace;
$title-font: "IBM Plex Sans", sans-serif;

//Tamaño Desktop//

$normal-font-size: 1rem;
$subtitle-font-size: 3rem;

//Color//
$text: #060a24;
$text-white: #ffffff;

//Ancho de la Fuente//
$font-weight: normal;

//Fuente Mobile//
$base-font: 2.25rem;